<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.tcc.android"
    android:versionCode="1"
    android:versionName="1.0" >
    

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />
    <permission android:name="android.permission.READ_PHONE_STATE"></permission>
    <uses-permission android:name="android.permission.INTERNET" />
     
    
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".TelaMenuActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
         <activity
            android:name=".TelaEstatisticasActivity"
            android:label="@string/app_name" />
         
         <activity
            android:name=".TelaMaisDietasActivity"
            android:label="@string/app_name" />
         
                  
         <activity
            android:name=".TelaMinhaDietaActivity"
            android:label="@string/app_name" />
        
         <activity
            android:name=".TelaPerfilActivity"
            android:label="@string/app_name" />   
            
         <activity
            android:name=".TelaEditarPerfilActivity"
            android:label="@string/app_name" />
         
            
         <activity android:name=".telas.TelaRefeicaoPrincipalManha"></activity>
         <activity android:name=".telas.TelaRefeicaoPrincipalTarde"></activity>
         <activity android:name=".telas.TelaRefeicaoPrincipalNoite"></activity>
         <activity android:name=".telas.TelaRefeicaoOpcionalManha"></activity>
         <activity android:name=".telas.TelaRefeicaoOpcionalTarde"></activity>
         <activity android:name=".telas.TelaRefeicaoOpcionalNoite"></activity>
         
         
         <activity
            android:name=".WebService"
            android:label="@string/app_name" />
           
         
         
    </application>
    

    

    
</manifest>